.wrapper{
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
   gap: 1px;
  
}
    
 .cardCntainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px; /* Gap between grid items */
  justify-items: center; 
  font-size: larger;
; 
  margin: 0 auto;
  
  
 }
 .ingredientItem {
text-align: center;
   height: auto; 
  
  
 }
 
 .mealImage{
  grid-column: span 2 / span 2;
  grid-column-start: 2;  
  width: 400%; /* Make the image take full width of its parent */
  height: 100%; /* Make the image take full height of its parent */
 }
.Desc {
  margin: 2px;
  grid-column: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 2;
  font-size: x-large;
  text-align: center;
  line-height: 2; /* Adjust the line spacing */
  margin: 0; 
  padding: 0;
  
  
}


.div6 {
  grid-column: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 2;
}
@media (max-width: 768px) {
   
  .ingredientItem {
    display: flex;
    flex: 1 1 calc(50% - 1rem);
    text-align: center;
       height: auto; 
      
      
     }

}

@media (max-width: 480px) {
  
 .wrapper{
  
  display: flex;
      
  justify-content: flex-start; 
  align-items: stretch; 
  /* flex-flow: column; */ 
  flex-direction: column;  
 
text-align: center;
   height: auto; 
   margin: 0;
   padding: 0;
      
 
 }
  .cardCntainer {
    

      display: flex;
      
      justify-content: flex-start; 
      align-items: stretch; 
      /* flex-flow: column; */ 
      flex-direction: column;  
    text-align: center;
       height: auto; 
       margin: 0;
       padding: 0;
          
     }
     
     .mealImage{
max-width: 100px;
max-height: 100px;

     }

}

 
  